{# Uncomment following line if hosting does not manage cache as Netlify does. Remember to add version hash to assets in Service Worker  #}
{# {% set assetHash = site.versionHash %} #}

{% set pageTitle = title + ' - ' + site.name %}

{# We don't want any duplication. This is likely for the homepage #}
{% if site.name === title %} 
  {% set pageTitle = title %}
{% endif %}

{% set siteTitle = site.name %}
{% set currentUrl = site.url + page.url %}

{# If the page’s frontmatter has specific metaTitle and/or metaDesc items, switch them into the mix #}
{% if metaTitle %}
  {% set pageTitle = metaTitle %}
{% endif %}

{% if not metaDesc %}
  {% set metaDesc = summary %}
{% endif %}

{% if not lang%}
  {% set lang = site.lang %}
{% endif %}

<!DOCTYPE html>
<html lang="{{ lang }}" dir="{{ dir }}" class="no-js">
  <head>
    {# head's tags order: https://speakerdeck.com/csswizardry/get-your-head-straight #}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ pageTitle }}</title>
    
    {# preconnects #}
    
    {# script async #}
    
    {# css with @import #}

    {# sync js #}
    <script>document.documentElement.classList.remove('no-js');</script>

    {# sync css #}
    <link rel="stylesheet" href="/css/global.css{{ '?' + assetHash if assetHash }}" />
    
    {# preloads #}
    <link rel="preload" as="script" href="/sw.js">
    
    {# script defer #}
    
    {# prefectch / prerender #}

    {# SEO meta, icons, open Graph, etc. #}
    {% include "partials/meta-info.njk" %}

    {# Minimal modern favicon https://dev.to/masakudamatsu/favicon-nightmare-how-to-maintain-sanity-3al7 #}
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="theme-color" content="{{ site.pwa.theme_color }}" />

    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" />
  </head>
  <body>
    {# Add facility for pages to declare an array of stylesheet paths #}
    {% if pageStylesheets %}
      {% for item in pageStylesheets %}
        <link rel="stylesheet" media="print" href="{{ item }}{{ '?' + assetHash if assetHash }}" onload="this.media='all'" />
        <noscript><link rel="stylesheet" href="{{ item }}{{ '?' + assetHash if assetHash }}"></noscript>
      {% endfor %}
    {% endif %}
    {% include "partials/site-head.njk" %}

    <main tabindex="-1" id="main-content">
      {% block content %}{% endblock %}
    </main>
    <footer>
      {% include "partials/language-selector.njk" %}
    </footer>
    <script src="/sw.js" defer></script>
  </body>
</html>
